@use 'variables';

.works_container {
    padding: 100px 70px;
    padding-bottom: 100px;
    .about {
        h1 {
            text-align: center;
            font-size: 2.3rem;
            // background-color: #fff;
            color: variables.$primary_green_text;
        }
        .about_text {
            text-align: center;
            font-size: 1.5rem;
            font-weight: 100;
            margin: 20px 0;
            padding: 0 240px;
        }
    }
}

@media (max-width: variables.$sm) {
    .works_container {
        padding: 0 10px;
        .about {
            padding: 90px 0;
            .about_text {
                text-align: center;
                font-size: 1.3rem;
                font-weight: 100;
                margin: 20px 0;
                padding: 0 40px;
            }
        }
    }
}
